html
    head
        title Welcome to Questionnaire !
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
    body
        main
        div(class="container")
            h1 Se connecter
            form(method="post")
                input(type="email", name="username", placeholder="Email")
                input(type="password", name="password", placeholder="Mot de passe")
                button(type="submit") Envoyer