html
    head
        title Welcome to Questionnaire !
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
    body
        main
        div(class="container")
            form(method="post")
                input(type="email", name="username", placeholder="email")
                input(type="password", name="password", placeholder="password")
                input(type="username", name="pseudo", placeholder="pseudo")
                button(type="submit") Envoyer